<header>
	<div class="text-center">
		<h1>IMDB Top 250 Movie Directory</h1>
		<a href="#/list"> Search </a>
		<span style="display: inline-block; width: 100px;"></span>
		<a href="#/gallery"> Gallery </a>
	</div>
</header>

<div ng-repeat="movie in movies | filter:imdbID ">
	<div class="row">
		<div class="details">
			<div class="outer">
				<a class="button" style="padding: 205px 15px;" ng-repeat="link in movies | filter:{rank: prev}:true" href="#/list/{{link.imdbID}}/{{link.rank}}"><<</a>
				<div class="inner" style="width: 250px;"><img ng-src="./data/images/{{movie.imdbID}}.jpg"/></div>
				<div class="inner">
					<h3>{{movie.title}}</h3>
					<h4>Rank: {{movie.rank}}</h4>
					<h5>{{movie.plot}}</h5>
					<h6>Released: {{movie.released}}</h6>
					<h6>Runtime: {{movie.runtime}}</h6>
					<h6>Awards: {{movie.awards}}</h6>
				</div>
				<a class="button" style="padding: 205px 15px;" ng-repeat="link in movies | filter:{rank: next}:true" href="#/list/{{link.imdbID}}/{{link.rank}}">>></a>
			</div>
		</div>
	</div>
</div>